<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body th:object="${contact}">
    
    <section>
        <h1>Contact Details</h1>
    </section>
    <section>
        <div>
            <p>Name: </p>
            <p th:text="*{name}"></p>
        </div>
        <div>
            <p>Email: </p>
            <p th:text="*{email}"></p>
        </div>
        <div>
            <p>Phone Number: </p>
            <p th:text="*{phoneNum}"></p>
        </div>
    </section>
    
</body>
</html>